# * * * * *
# | | | | |
# | | | | +---- Day of the week (0 - 7) (Sunday=0 or 7)
# | | | +------ Month (1 - 12)
# | | +-------- Day of the month (1 - 31)
# | +---------- Hour (0 - 23)
# +------------ Minute (0 - 59)


# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/acquire?data_provider=FACI >/proc/1/fd/1 2>/proc/1/fd/2
# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/acquire?data_provider=FTSE >/proc/1/fd/1 2>/proc/1/fd/2
# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/acquire?data_provider=SOLA >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/load?data_provider=FACI >/proc/1/fd/1 2>/proc/1/fd/2
# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/load?data_provider=FTSE >/proc/1/fd/1 2>/proc/1/fd/2
#* * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/load?data_provider=SOLA >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/consolidate >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/normalize >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/check >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/save >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/sort >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/pack >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app/api/v1/data-processing/ship >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
