# * * * * *
# | | | | |
# | | | | +---- Day of the week (0 - 7) (Sunday=0 or 7)
# | | | +------ Month (1 - 12)
# | | +-------- Day of the month (1 - 31)
# | +---------- Hour (0 - 23)
# +------------ Minute (0 - 59)



# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/acquire_FTSE >/proc/1/fd/1 2>/proc/1/fd/2
# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/acquire_SOLA >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/load_FTSE >/proc/1/fd/1 2>/proc/1/fd/2
# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/load_SOLA >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/consolidate >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/normalize >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/check >/proc/1/fd/1 2>/proc/1/fd/2

# * * * * * curl -L -H "X-API-Key: $API_KEY_DJ" http://lakant-app-3x2kq.ondigitalocean.app:8080/cleanse >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
